/* KOMMENTAR ! */
body {
  font-family: sans-serif;
}

#location_list {
  margin-bottom: 15px;
}

#location_search {
  margin-bottom: 15px;
}

#weather_tiles {
  /* Flexbox Layout */
  display: flex;
  flex-direction: row; /* Ausrichtung Hauptachse*/
  /* justify-content: Anordnung der Items 
  auf der Hauptachse (hier horizontal) */
  justify-content: flex-start;
  /* align-items: Anordnung der Items 
  entlang der Querachse (hier vertikal) */
  align-items: flex-start;
  /* flex-wrap: Zeilenumbrüche */
  flex-wrap: wrap;
  row-gap: 15px; /* Zeilenabstand zw. Items */
}

.weather_location {
  border: 2px solid silver;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  margin-right: 10px;
}

.weather_info {
  display: flex;
  justify-content: space-between;
}

.place {
  font-weight: bold;
  font-size: 1.5em;
}

.temp {
  font-weight: 300;
}

.cond {
  font-style: italic;
}
